.container {
    height: 75vh;
}

.vertical {
    flex-direction: column;
}

.module {
    background-color: blanchedalmond;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    min-height: 0; /* https://stackoverflow.com/questions/33605552 */
}

p {
    font-size: 10vh;
    text-align: center;
    
}